body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f5ed;
    color: #504B38;
    font-size: larger;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headname{
    /* color: #504B38; */
    color: #333023;
    
}
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #221e0a;
    border-radius: 10px; 
    padding: 20px;
    background-color: EBE5C2;
    margin: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.loginheading {
    margin-bottom: 20px;
    color: #504B38;
}

label {
    margin-bottom: 8px;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    border-color: #221e0a;
}

.button {
    /* background-color: rgb(63, 112, 190); */
    background-color: #504B38;
    color: #EBE5C2;
    border: none;
    font-weight: 550;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.lp{
    flex-direction: row;
    width: 100%;
}
.signin{
    line-height: 60px;
}
.loginbg{
    background-color: #ADBBDA;
}